﻿@import "~billing-ui/styles/variables";
@import "~billing-ui/styles/placeholders";
@import "../components/utils/_variables";

:local {
    .content {
        padding: 80px 0 $i-L;

        text-align: center;
    }

    .dumped-number {
        @extend %as-inline-block;

        position: relative;

        padding: 0 $i-S;

        font-size: 20px;

        &:before {
            content: "";

            position: absolute;
            top: .55em;
            right: 0;
            left: 0;

            height: 1px;

            background: $textErrorColor;
        }
    }

    .status {
        margin: 5px 0 35px;

        color: $textErrorColor;

        font: {
            weight: bold;
            size: $fontSizeGreat;
        }
    }

    .restore {
        width: 200px;
        margin: 0 auto;
    }
}
