﻿@import "~billing-ui/styles/variables";

:local {
    .inactive {
        color: $textDisabledColor;
    }

    .state {
        color: $textBaseColor;

        &,
        :local(.inactive):hover & {
            &.accepted {
                color: $textSuccessColor;
            }

            &.rejected,
            &.expired {
                color: $textErrorColor;
            }
        }

        :local(.inactive) & {
            color: $textDisabledColor;
        }
    }

    .link {
        cursor: pointer;

        :local(.inactive) & {
            color: $textDisabledColor;
        }

        :local(.inactive):hover & {
            color: $linkBaseColor;

            &:hover {
                color: $linkActiveColor;
            }
        }
    }
}
