﻿@import "~billing-ui/styles/variables";
@import "~billing-ui/styles/placeholders";
@import "../../components/utils/_variables";

:local {
    .wrapper {
        @extend %as-clearfix;

        margin: 35px 0;
        padding: 0 $i-L 0 20px;

        font-size: $fontSizeBig;

        * {
            line-height: $lineHeightSmall;
        }
    }

    .header {
        font-weight: bold;
    }

    .with-numbers {
        padding-left: 40px;
    }

    .number {
        float: left;
        width: 32px;
        margin-left: -40px;

        text-align: right;
    }

    .title {
        max-width: 90%;
    }

    .count {
        float: right;
    }

    .item {
        margin-top: $i-M;
    }

    .header + .item {
        margin-top: $i-S;
    }

    .prop {
        margin: $i-S 0 0 20px;
    }

    .with-numbers .prop {
        margin-left: $i-M;
    }
}
