﻿@import "~billing-ui/styles/variables";
@import "../../components/utils/_variables";

$textWarningColor: #ff9e00;

:local {
    $iconIndent: 22px;

    .block {
        padding: 20px $i-L 20px (20px + $iconIndent);

        background: $bgElementActiveLightColor;

        font-size: $fontSizeBig;

        & + .block {
            margin-top: 2px;
        }
    }

    .table {
        display: table;
        width: 100%;
        box-sizing: border-box;

        > div {
            display: table-cell;

            &:first-child {
                width: 100%;
                box-sizing: border-box;
            }
        }
    }

    .paid-support-header {
        margin-bottom: $i-M;
    }

    .to-right {
        float: right;

        white-space: nowrap;
    }

    .total-amount {
        text-align: right;
        white-space: nowrap;
    }

    .with-paid:before {
        content: "/";

        padding: 0 10px;
    }

    .detail {
        margin-top: $i-M;

        &:first-child {
            margin-top: 0;
        }
    }

    .inactive {
        color: $textDisabledColor;
    }

    .icon {
        position: relative;
        bottom: 1px;

        float: left;
        margin-left: -$iconIndent;

        font-size: 17px;
    }

    .warning-icon {
        composes: icon;

        color: $textDarkColor;
    }

    .tick-icon {
        composes: icon;

        color: $textSuccessColor;
    }

    .clock-icon {
        composes: icon;

        bottom: 2px;

        color: $textWarningColor;
    }
}
