﻿@import "~billing-ui/styles/bourbon";

:local {
    .slideEnter {
        max-height: 0;

        opacity: 0;

        transition: opacity 0.3s ease, max-height 0.3s ease;
    }

    .slideEnterActive {
        max-height: 400px;

        opacity: 1;
    }

    .slideLeave {
        max-height: 400px;

        opacity: 1;

        transition: opacity 0.3s ease, max-height 0.3s ease;
    }

    .slideLeaveActive {
        max-height: 0;

        opacity: 1;
    }

    .fadeIn {
        :global {
            animation: fade-in 0.3s;
        }
    }
}

@include keyframes(fade-in) {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
