﻿@import "~billing-ui/styles/variables";
$row-height: 113px;

:local {
    .wrapper {
        width: 900px;
        margin: auto;
        box-sizing: border-box;

        color: $textBaseColor;
        font-size: 16px;
    }

    .row {
        overflow: hidden;

        &:before,
        &:after {
            content: "";

            display: block;

            clear: both;
        }
    }

    .cell {
        float: left;
        height: $row-height;
        padding: 20px 15px;
        box-sizing: border-box;

        &:first-of-type {
            padding-left: 45px;
        }
    }

    .header {
        composes: cell;

        height: 55px;

        color: #A5A5A5;
        font-size: 15px;
    }

    .user {
        composes: row;

        display: block;

        color: $textBaseColor;

        &:hover,
        &:focus {
            background-color: $bgBaseColor;

            color: $textBaseColor;
        }
    }

    .userInfo {
        composes: cell;

        width: 46%;
    }

    .platform {
        composes: cell;

        text-align: center;

        &:before {
            content: '';

            display: inline-block;
            height: 100%;

            vertical-align: middle;
        }
    }

    .support,
    .hm {
        composes: platform;

        width: 14%;
    }

    .managerArm {
        composes: platform;

        width: 16%;
    }

    .oorv {
        composes: platform;

        width: 10%;
    }

    .userInfoItem {
        padding-bottom: 15px;

        &:last-child {
            padding-bottom: 0;
        }
    }

    .userName {
        composes: userInfoItem;

        font-weight: bold;
    }

    .certIcon {
        position: relative;

        margin-right: 5px;
        margin-left: -20px;
    }

    .platformIcon {
        display: inline-block;

        vertical-align: middle;
    }

    .iconBaseLine {
        margin-top: -45px;

        font-size: 55px;
    }
}
