﻿@import "~billing-ui/styles/variables";
@import "~billing-ui/styles/bourbon";

:local {
    .menu {
        display: block;
        width: 650px;
        margin: auto;
        box-sizing: border-box;

        border: 1px solid $borderDarkColor;
        box-shadow: 0px 2px 10px rgba(#000, 0.1);
    }

    .icon {
        position: relative;
        top: -2px;

        margin-right: 5px;

        vertical-align: middle;
    }

    .text {
        display: inline-block;

        vertical-align: middle;
    }

    .inputWrapper {
        display: inline-block;
        max-width: 90%;

        overflow: hidden;

        vertical-align: middle;
    }

    .input {
        @include placeholder {
            color: black;
        }

        min-width: 250px;

        background-color: transparent;

        text-align: left;

        cursor: text;

        &:focus {
            @include placeholder {
                color: $textDisabledColor;
            }
        }
    }

    .button {
        display: block;
        height: 80px;
        padding: 25px;
        box-sizing: border-box;

        border-bottom: 1px solid $borderBaseColor;

        color: $textBaseColor;
        font-size: 22px;
        text-align: center;

        cursor: pointer;

        &:last-child {
            border-bottom: none;
        }

        &:hover,
        &:focus {
            background-color: $bgBaseColor;

            color: $textBaseColor;
        }
    }
}
