﻿@import "~billing-ui/styles/variables";

:local {
    .menuWrapper {
        margin-bottom: 55px;
    }

    .listWrapper>* {
        margin-bottom: 55px;
    }

    .message {
        color: $textBaseColor;
        font-size: 24px;
        line-height: 1.2;
        text-align: center;
    }
}
