﻿@import "~billing-ui/styles/variables";
@import "../../components/utils/_variables";

:local {
    .content {
        padding: 20px 40px;

        font-size: $fontSizeBig;
    }

    .general-info {
        display: table;
        width: 100%;
        margin-bottom: $i-M;
        padding-bottom: $i-M;

        border-bottom: 3px solid $borderDarkColor;
    }

    .general-info__code,
    .general-info__region {
        display: table-cell;

        line-height: $lineHeightRegular;
        vertical-align: baseline;
    }

    .general-info__code {
        font: {
            size: $fontSizeRegularHeader;
            weight: bold;
        }
    }

    .general-info__region {
        color: $textSecondaryColor;
        text-align: right;
    }

    .title {
        font-size: 20px;

        p {
            line-height: $lineHeightRegular;
        }
    }

    .contacts {
        margin-top: 50px;

        font-size: 0;
    }

    .contacts_item {
        display: inline-block;
        width: 50%;
        margin-bottom: 35px;

        font-size: $fontSizeBig;
        vertical-align: top;

        p {
            line-height: $lineHeightRegular;
        }
    }

    .contacts_post {
        color: $textSecondaryColor;
    }
}
