﻿@import "~billing-ui/styles/variables";

:local {
    .department {
        position: relative;

        margin-top: 10px;
        padding-left: 25px;

        .icon {
            position: absolute;
            left: 4px;

            color: $textSecondaryColor;
        }
    }
}
