﻿@import "~billing-ui/styles/variables";
@import "~billing-ui/styles/placeholders";
@import "~susy/sass/susy";
$susy: (columns: 8, gutter-position: before);

:local {
    $bgTransition: background-color .2s $transitionBaseTimingFunction;

    .document {
        position: relative;

        margin: 0 -20px 0 -40px;

        border-bottom: 1px solid $borderBaseColor;
    }

    .inner-document {
        padding: 9px 20px 15px 40px;

        transition: $bgTransition;

        background-color: $bgWhiteColor;

        :local(.document):hover &,
        :local(.document.actions-active) & {
            background-color: $bgLightColor;

            cursor: pointer;
        }

        :local(.document.disable-download) & {
            background-color: $bgWhiteColor;

            color: $textSecondaryColor;
        }

        :local(.highlighted) & {
            background-color: $bgInfoColor;
        }
    }

    .actions {
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: -1px;

        width: 64px;

        transition: $bgTransition;

        background: transparent;

        color: $linkBaseColor;
        text-align: center;

        cursor: pointer;

        :local(.document):hover &,
        :local(.document.actions-active) & {
            background: $bgActiveActionsColor;
        }
    }

    .actions-ellipsis {
        position: relative;
        top: -2px;

        transition: all .3s ease-in;

        font-size: 30px;

        :local(.document):hover &,
        :local(.document.actions-active) & {
            color: $bgWhiteColor;
        }
    }

    .action-popup-ellipsis {
        top: -4px;
        right: 21px;
    }

    .actions-attach-wrapper {
        width: 100%;

        &:hover {
            background: $bgElementActiveLightColor;
        }
    }

    .header {
        @extend %as-clearfix;

        position: relative;

        font-size: $fontSizeRegular;

        .content-col {
            font-weight: bold;
        }

        .content-title {
            line-height: $lineHeightRegular;
        }
    }

    .title {
        margin-top: 1px;

        font-size: $fontSizeBig;

        :local(.document.disable-download) & {
            font-weight: normal;
        }
    }

    .info-col {
        @include span(1 of 8 first);

        line-height: $lineHeightRegular;
    }

    .content-col {
        @include span(4.9 of 8);

        padding-left: 10px;
        box-sizing: border-box;

        line-height: $lineHeightRegular;

        :local(.inner-document):local(.compact) & {
            @include span(6 of 8);
        }
    }

    .header-action {
        @extend %as-inline-block;

        position: absolute;
        top: 0;
        right: 0;

        font-size: $fontSizeBig;
    }

    .link {
        @extend %as-link;
    }

    .history {
        font-size: $fontSizeRegular;
    }

    .item {
        @extend %as-clearfix;

        margin-top: 15px;

        color: $textSecondaryColor;

        &.is-sender {
            margin-top: 8px;
        }
    }

    .edo-header {
        position: relative;

        margin: 0 -20px 0 -40px;
        padding: 20px 20px 15px 40px;

        border-bottom: 1px solid $borderBaseColor;

        font-weight: bold;
    }

    .paper-header {
        margin: 0 -20px 0 -40px;
        padding: 20px 20px 15px 40px;

        border-bottom: 1px solid $borderBaseColor;

        font-weight: bold;
    }

    .paper-header-inner {
        position: relative;
    }

    .replace-attachment {
        margin-top: 10px;
    }

    .container {
        overflow: hidden;
    }
}
