﻿@import "~billing-ui/styles/variables";
@import "~billing-ui/styles/placeholders";

:local {
    .wrapper {
        padding: 20px 40px 0;

        overflow: hidden;

        &.is-loading {
            padding-top: 40px;
        }
    }

    .no-documents {
        margin: -20px -20px -20px -40px;
    }

    .department-wrapper {
        margin: 0 -20px 0 -40px;
        padding: 10px 20px 15px 40px;

        border-bottom: 1px solid $borderBaseColor;
    }

    .department-group-wrapper {
        position: relative;
        z-index: 1;
    }

    .group {
        margin-top: 20px;

        &:first-child {
            margin-top: 0;
            margin-right: -20px;
        }
    }

    .header {
        position: relative;

        margin: 0 -20px 0 -40px;
        padding: 7px 20px 7px 40px;

        border-bottom: 1px solid $borderDarkerColor;
        background-color: $bgBaseColor;

        font-size: 20px;
    }

    .link {
        @extend %as-link;
        @extend %as-inline-block;

        position: absolute;
        right: 20px;
        bottom: 7px;

        font-size: $fontSizeBig;
    }
}
