﻿@import "~billing-ui/styles/variables";
@import "~billing-ui/styles/placeholders";

:local {
    .link {
        @extend %as-link;
        @extend %as-inline-block;

        font-weight: normal;
        line-height: $lineHeightRegular;

        &.inactive {
            color: $textInactiveColor;
        }
    }
}
