﻿@import "~billing-ui/styles/variables";
@import "~billing-ui/styles/placeholders";

:local {
    .link {
        @extend %as-inline-block;

        position: relative;

        &:hover .button {
            top: -3px;

            box-shadow: 0 3px 0 #c6c6c6;

            color: $textBaseColor;
        }

        &:focus .button {
            color: $textBaseColor;
        }

        &:active .button {
            top: -2px;

            box-shadow: 0 2px 0 #c6c6c6;

            color: $textBaseColor;
        }
    }

    .button {
        @extend %as-inline-block;

        position: relative;
        top: 0;

        height: 25px;
        margin-top: 10px;
        padding: 0 10px;
        box-sizing: border-box;

        transition: all .2s;

        border-radius: 15px;
        background-color: $bgBaseColor;

        color: $textBaseColor;
        font-weight: normal;
        line-height: 25px;

        cursor: pointer;
    }

    .text {
        margin-left: 5px;
    }

    .remove {
        position: relative;

        margin-left: 10px;

        font-size: 12px;
        text-shadow: $textShadowWhite;

        &:hover {
            top: -1px;
        }

        &:active {
            top: 0;
        }
    }
}
