﻿@import "~billing-ui/styles/variables";
@import "~billing-ui/styles/placeholders";

:local {
    .header-action {
        @extend %as-inline-block;

        position: absolute;
        right: 0;
        bottom: 0;

        font-size: $fontSizeGreat;
        font-weight: normal;
    }

    .popup {
        width: 325px;
    }

    .link {
        @extend %as-link;
    }

    .icon {
        font-size: $fontSizeGreat;
    }

    .prohibited {
        background: url("../../Shared/img/strikeout.png") no-repeat center 1px;

        cursor: default;
    }

    .ellipsis {
        @extend %as-link;

        font-size: 30px;
        font-weight: normal;
    }

    .action-disabled {
        position: relative;

        padding: 15px 20px 10px;

        background-color: $bgInfoColor;

        font-size: $fontSizeBig;

        cursor: default;

        &:hover {
            background-color: $bgInfoColor;
        }

        .prohibited {
            position: absolute;
            top: 15px;
            left: 20px;

            font-size: $fontSizeGreat;
        }
    }

    .action-text {
        @extend %as-inline-block;

        padding-left: 26px;
    }
}
