﻿@import "~billing-ui/styles/variables";

:local {
    .wrapper {
        position: relative;

        margin: 0 -20px 0 -40px;
        padding: 20px 20px 18px 40px;

        border-bottom: 1px solid $borderBaseColor;

        &:before,
        &:after {
            content: "";

            position: absolute;

            width: 0;
            height: 0;
        }

        &:before {
            top: -6px;
            right: 90px;

            border-right: 6px solid transparent;
            border-bottom: 6px solid $borderDarkerColor;
            border-left: 6px solid transparent;
        }

        &:after {
            top: -5px;
            right: 91px;

            border-right: 5px solid transparent;
            border-bottom: 5px solid $bgWhiteColor;
            border-left: 5px solid transparent;
        }
    }

    .envoy {
        margin-left: 10px;

        color: $textSecondaryColor;
        font-style: italic;
    }

    .payer {
        $paddingTop: 25px;
        $separatorHeight: 10px;
        $separatorTopPosition: floor(($paddingTop - $separatorHeight) / 2);

        position: relative;

        padding-top: $paddingTop;

        &:before {
            content: "";

            position: absolute;
            top: $separatorTopPosition;
            left: 5px;

            width: 1px;
            height: $separatorHeight;

            background-color: $textSecondaryColor;
        }
    }
}
