﻿@import "~billing-ui/styles/variables";
@import "~billing-ui/styles/placeholders";
@import "~susy/sass/susy";
$susy: (columns: 8, gutter-position: before);

:local {
    .info-col {
        @include span(1 of 8 first);

        line-height: 1.8;
        text-align: right;
    }

    .content-col {
        @include span(7 of 8);

        padding-left: 10px;
        box-sizing: border-box;

        line-height: 1.8;
    }

    .item {
        @extend %as-clearfix;

        position: relative;

        margin-top: 10px;

        color: $textSecondaryColor;

        &.rejected {
            color: $textErrorColor;
        }

        &.accepted {
            color: #00C922;
        }

        .icon {
            position: absolute;
            top: -2px;
            left: -15px;
        }
    }

    .description {
        margin-left: 10px;

        &.disabled {
            padding: 1px 8px 3px;

            background-color: $bgBaseColor;

            color: $textDarkColor;
            font-size: $fontSizeBig;
            font-weight: bold;
        }
    }

    .commentary {
        padding-top: 3px;

        font-style: italic;
    }

    .hidden-wrapper {
        overflow: hidden;

        font-size: $fontSizeRegular;
    }
}
