﻿@import "~billing-ui/styles/bourbon";
@import "~billing-ui/styles/susy";
@import "~billing-ui/styles/variables";
@import "~billing-ui/styles/mixins";
@import "./settings";

:local {
    $susy: (columns: 30, gutter-position: before);

    .wrapper {
        @include container;

        position: relative;

        padding: 15px 0 20px $baseSidePadding;

        &.clickable {
            transition: background $transitionBaseTime $transitionBaseTimingFunction;

            cursor: pointer;

            &:hover {
                background-color: $bgLightColor;
            }
        }

        &.active {
            background-color: $bgLightColor;
        }
    }

    .icon {
        position: absolute;
        top: 16px;
        left: 20px;
    }

    .date-col {
        @include span(7 of 30 first);
    }

    .data-col {
        @include span(10 of 30);
    }

    .sc-col {
        @include span(7 of 30);

        &.wide {
            @include span(10 of 30);
        }
    }

    .item {
        line-height: $lineHeightRegular;

        &.important {
            font-style: italic;
        }

        &.fade {
            @include baseFade($baseColor: $bgWhiteColor, $hoverColor: $bgLightColor);

            &:before {
                transition: opacity .8s ease;
            }

            &:after {
                transition: opacity .8s ease;
            }

            :local(.wrapper.clickable:hover) &:before,
            :local(.wrapper.clickable.active) &:before {
                opacity: 0;
            }

            :local(.wrapper.clickable:hover) &:after,
            :local(.wrapper.clickable.active) &:after {
                opacity: 1;
            }
        }
    }

    .info {
        color: $textSecondaryColor;
        line-height: $lineHeightRegular;

        &.danger {
            color: $textErrorColor;
        }
    }

    .action-col {
        @include span(5 of 30);

        text-align: right;
    }

    .actions-col {
        @include position(absolute, 0 0 0 null);

        width: 50px;

        overflow: hidden;

        transition: background .2s $transitionBaseTimingFunction;

        cursor: pointer;

        :local(.wrapper.clickable:hover) &,
        :local(.wrapper.clickable.active) &,
        &:hover {
            background-color: $bgActiveActionsColor;
        }
    }

    .ellipsis {
        position: relative;
        top: 0;
        right: 0;

        transition: color .2s $transitionBaseTimingFunction;

        font-size: 30px;
        text-align: center;

        :local(.wrapper.clickable:hover) &,
        :local(.wrapper.clickable.active) &,
        :local(.actions-col:hover) & {
            color: $textWhiteColor;
        }
    }

    .popup-ellipsis {
        top: -1px;
        right: 14px;
    }

    .single {
        line-height: $lineHeightRegular;
        white-space: nowrap;
    }

    .scLink {
        color: $textSecondaryColor;
    }
}
