﻿@import "~billing-ui/styles/variables";
@import "./BaseCertificate";

:local {
    .icon {
        color: $textSecondaryColor;
    }

    .accelerated {
        position: relative;
        top: 2px;

        display: inline-block;
        width: 27px;
        height: 10px;
        margin-left: 10px;

        background: url("Content/img/ClientPage/acceleration_mode_small.png") no-repeat;
    }
}
