﻿@import "~billing-ui/styles/variables";
@import "./settings";

:local {
    .wrapper {
        margin-bottom: 40px;

        &.wide {
            margin-right: (-$baseSidePadding);
            margin-left: (-$baseSidePadding);

            .title {
                margin: 0;
            }
        }
    }

    .title {
        margin: 0 (-$baseSidePadding);
        padding: 5px $baseSidePadding;

        background-color: $bgBaseColor;

        font-size: $fontSizeGreat;
        line-height: $lineHeightRegular;

        &.as-warning {
            background-color: $bgInfoColor;
        }
    }
}
