﻿@import "~billing-ui/styles/variables";

:local {
    .lightbox-body {
        margin: 20px -30px;
        padding: 0 30px;

        border-top: 1px solid $borderBaseColor;
    }

    .lightbox-footer {
        margin: 35px -30px -40px;
        padding: 30px 30px;

        background: $bgLightColor;
    }

    .links-validation {
        margin: 0 -30px;

        overflow: hidden;

        background: #f9a99c;
    }

    .links-error-message {
        display: inline-block;
        margin: 12px 0 12px 30px;
    }

    .sc-code {
        margin-left: 5px;

        font-weight: bold;
    }

    .show-sc-contacts {
        display: inline-block;
        margin: 12px 20px;
    }

    .inn-input {
        display: inline-block;
        margin: 40px 0 30px;
    }

    .kpp-input {
        display: inline-block;
        margin-right: 20px;
    }

    .name-input {
        display: inline-block;
    }

    .payer-type-dropdown {
        margin: 45px 0 20px 20px;
    }

    .name-block {
        display: inline-block;
        margin-top: -12px;

        vertical-align: top;
    }

    .name-title {
        color: $textSecondaryColor;
        font-size: 14px;
    }

    .name-caption {
        line-height: 30px;
    }

    .cancel {
        margin-left: 20px;
    }
}
