﻿@import "~billing-ui/styles/variables";
@import "~billing-ui/styles/placeholders";

:local {
    .wrapper {
        margin: 0 -40px;
        padding: 20px 40px 30px;

        border-bottom: 1px solid $borderDarkerColor;
    }

    .message {
        font-size: $fontSizeRegular;
        line-height: $lineHeightRegular;
    }

    .action {
        margin-top: 25px;

        white-space: nowrap;
    }

    .button {
        @extend %as-inline-block;

        font-weight: normal;
        vertical-align: middle;
    }

    .note {
        @extend %as-inline-block;

        width: 50%;
        margin-left: 20px;

        color: $textSecondaryColor;
        font-size: $fontSizeRegular;
        line-height: $lineHeightRegular;
        vertical-align: middle;
        white-space: normal;
    }
}
