﻿@import "~billing-ui/styles/variables";
@import "~billing-ui/styles/mixins";

:local {
    $baseSidePadding: 30px;

    .wrapper {
        margin: 0 (-$baseSidePadding);
    }

    .section {
        padding: 30px $baseSidePadding 40px;

        border-top: 1px solid $borderDarkerColor;

        &:first-child {
            margin-top: 20px;
        }

        &.form {
            padding-top: 10px;
        }

        .changing {
            margin: 0;
            padding: 0;

            border: none;
        }
    }

    .title {
        font-size: 16px;
        font-weight: bold;
    }

    .actions {
        @include action-bar;
    }

    .paging-wrapper .paging {
        margin: 5px (-$baseSidePadding) 0 (-$baseSidePadding);
    }

    .empty {
        color: $textSecondaryColor;
        font-size: $fontSizeBig;
        line-height: $lineHeightRegular;
        text-align: center;
    }

    .search {
        position: relative;

        margin: 22px 0;
    }

    .search-icon {
        position: absolute;
        top: 11px;
        left: 11px;

        color: $textSecondaryColor;
    }

    .search-input {
        width: 100%;
        height: 38px;
        padding-right: 10px;
        padding-left: 32px;
        box-sizing: border-box;

        border-bottom: 1px solid $borderBaseColor;
        background: $bgLightColor;
        box-shadow: $elementBaseShadow;

        color: $textDarkColor;

        &:focus {
            border: none !important;
            border-bottom: 1px solid $borderBaseColor !important;
            outline: none !important;
            box-shadow: $elementBaseShadow !important;
        }
    }

    .search-placeholder {
        position: absolute;
        top: 12px;
        left: 31px;

        color: $textSecondaryColor;

        pointer-events: none;
        cursor: text;
    }

    .search-input:focus ~ .search-placeholder {
        display: none;
    }
}
