﻿@import "~billing-ui/styles/susy";
@import "~billing-ui/styles/variables";
@import "~billing-ui/styles/placeholders";
@import "~billing-ui/styles/mixins";

:local {
    $susy: (columns: 30, gutter-position: before);

    .certificate {
        @include container;

        margin-top: 15px;
    }

    .user {
        @include span(3 of 30 first);

        &.full {
            @include span(16 of 30 first);
            @include baseFade;
        }
    }

    .checkbox {
        top: -2px;

        &:before {
            top: 5px;
        }

        &:after {
            top: 8px;
        }
    }

    .icon {
        margin-right: 5px;
    }

    .owner {
        position: relative;
        top: -1px;
    }

    .select {
        @include span(13 of 30);
        @include post(8.2 of 30);
    }

    .dropdown {
        width: 100%;
        margin: 0 0 -2px -20px;
    }

    .contact-name {
        overflow: hidden;

        line-height: $lineHeightRegular;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .contact-job {
        overflow: hidden;

        color: $textSecondaryColor;
        line-height: $lineHeightRegular;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .action {
        @include span(8 of 30);

        position: relative;
        top: 5px;

        color: $textDisabledColor;

        cursor: default;

        &.active {
            @extend %as-link;
        }
    }

    .date {
        @include span(5 of 30);

        position: relative;
        top: 6px;

        color: $textSecondaryColor;

        &.warning {
            color: $textErrorColor;
        }

        &.push {
            @include pre(5 of 30);
        }
    }
}
