﻿@import "~billing-ui/styles/variables";
@import "../../components/utils/_variables";

:local {
    .block {
        width: $rightColW;
        padding: $i-S;
        box-sizing: border-box;

        font-size: $fontSizeBig;
    }

    .action-buttons {
        min-height: 60px;
        margin: -$i-S (-$i-S) 0;

        a:first-child {
            margin-top: 20px;
        }
    }

    .action-buttons :global .warning-block {
        padding: $i-M 25px;

        text-align: center;
    }

    .action-buttons :global .warning-icon {
        width: 25px;
        height: 25px;
        margin: 0 0 $i-S;

        background-image: url("../../Shared/img/tech_icon.png");
    }

    .bill-track {
        margin-top: 20px;

        * {
            line-height: $lineHeightRegular;
        }
    }

    .bill-track-link {
        color: #3390d8;
    }

    .cs-link-wrapper {
        position: relative;

        height: 19px;
        padding: 7px 0 19px;

        font-weight: bold;
        text-align: center;
    }

    .cs-link {
        cursor: pointer;
    }
}
