﻿@import "~billing-ui/styles/variables";
@import "../../components/utils/_variables";

:local {
    .wrapper {
        display: table;
        width: 100%;
        padding-right: $rightColW;
        box-sizing: border-box;

        table-layout: fixed;

        & > div {
            display: table-cell;
            min-height: 500px;

            vertical-align: top;
        }
    }

    .main {
        width: 100%;
        min-height: 500px;

        border-right: 1px solid $borderDarkColor;
    }

    .billInfoPage {
        position: relative;

        min-height: 400px;
        padding: 10px 24px;

        background: $bgWhiteColor;
        box-shadow: $shadowBlock;
    }
}
