﻿@import "~billing-ui/styles/variables";

:local {
    .block {
        padding: 0 30px 0 20px;

        border-bottom: 1px solid $borderDarkColor;

        font-size: 16px;
        text-align: justify;
        text-align-last: justify;
        white-space: nowrap;
    }

    .tab {
        position: relative;

        display: inline-block;
        margin-left: 10px;
        padding: 9px 10px 6px;
        box-sizing: border-box;

        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;

        :local(.small) & {
            margin-left: 0;
        }

        &,
        &:hover,
        &:visited,
        &:active,
        &:focus {
            color: $textBaseColor;
        }

        &:first-child {
            margin-left: 0;
        }

        &:after {
            content: " ";

            position: absolute;
            bottom: -1px;
            left: 0;

            width: 0;
            height: 2px;

            transition: width .1s $transitionBaseTimingFunction;

            background: $themeMainColor;
        }

        &:hover:after,
        &.active:after {
            width: 100%;
        }
    }

    .small {
        padding: 0 15px 0 15px;

        font-size: 14px;
    }
}
