﻿@import "~billing-ui/styles/variables";
@import "../../components/utils/_variables";

:local {
    .block {
        margin: 11px 0 0;
        padding: $i-S $i-M;

        line-height: 1.4;
        text-align: center;

        &.error {
            background: $bgErrorColor;
        }
    }

    .diadocIcon {
        position: relative;

        display: inline-block;
        width: 15px;
        height: 17px;

        background: url("/Content/img/Client/diadoc.png") center no-repeat;

        &.strikeout:after {
            content: " ";

            position: absolute;
            top: -1px;
            left: -2px;

            width: 18px;
            height: 18px;

            background: url("../../Shared/img/strikeout.png") center no-repeat;
        }
    }
}
