﻿@import "~billing-ui/styles/variables";
@import "~billing-ui/styles/placeholders";
@import "~billing-ui/styles/mixins/mediaquery";
@import "../../components/utils/_product_icons_big";
@import "../../components/utils/_variables";

:local {
    .wrapper {
        @extend %as-clearfix;

        position: relative;

        height: 19px;
        padding: $i-M $i-L $i-S $i-M;

        overflow: hidden;

        border-bottom: 1px solid $borderDarkColor;

        font-size: 20px;
        white-space: nowrap;

        @include windowLessOrEqual(1100px) {
            font-size: $fontSizeGreat;
        }
    }

    .bill {
        float: left;

        & > div {
            display: table-cell;
        }
    }

    .date {
        padding-left: $i-S;

        color: $textInactiveColor;
    }

    .billNumber {
        margin-left: 3px;
    }

    .product {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;

        padding: $i-M $i-L 0 $i-M;

        background: #fff;

        &:after {
            content: "";

            position: absolute;
            top: 0;
            bottom: 0;
            left: -40px;

            width: 40px;

            background: url("../../Shared/img/overflowMask.png") repeat-y 0 0;
        }
    }

    .product_icon {
        @include product-icons();
        @extend %as-inline-block;

        width: 20px;
        height: 20px;
        margin: 1px 7px 0 0;

        @include windowLessOrEqual(1100px) {
            margin-top: 0;
        }
    }
}
