﻿@import "~billing-ui/styles/variables";
@import "~billing-ui/styles/placeholders";
@import "../../utils/_variables";

.is-active textarea {
    @extend %line-height;

    width: 100%;
    min-height: 22px;
    padding: 0;

    overflow: hidden;

    border: none;
    outline: none;
    background: $bgElementActiveLightColor;

    font-size: $fontSizeBig;

    resize: none;
}

.controls {
    @extend %as-clearfix;

    margin-top: $i-M;
}

.button {
    @extend %as-link;

    float: left;
    margin-right: 20px;
}

.save,
.cancel,
.delete {
    composes: button;
}

.save {
    position: relative;

    width: 80px;
    height: 16px;

    overflow: visible;

    outline: none !important;
    box-shadow: none !important;

    font-weight: bold;
}

.buttonspan {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.delete {
    float: right;
    margin: 0;
}

.disabled {
    color: $textDisabledColor !important;

    cursor: default;
}
