﻿@import "~billing-ui/styles/variables";
@import "~billing-ui/styles/placeholders";
@import "../../utils/_variables";

.readonly {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.created + .readonly {
    clear: both;
}

.readonly_text {
    @extend %line-height;

    font-size: $fontSizeBig;
}

.readonly_overflowing-text {
    position: relative;

    margin-bottom: 5px;

    overflow: hidden;

    transition: all .2s ease-out;
}

.readonly_overflowing-text__masked {
    &:after {
        content: "";

        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 20px;

        background: linear-gradient(to top, #fff 10%, rgba(255, 255, 255, 0.1) 90%);
    }
}

.item.is-masked:hover .readonly_overflowing-text__masked:after {
    background: linear-gradient(to top, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.1) 90%);
}

.toggle-full-comment {
    @extend %as-link;

    font-weight: bold;
}

.item.is-masked:hover .toggle-full-comment {
    color: $linkActiveColor;
}
