﻿@import "~billing-ui/styles/variables";
@import "~billing-ui/styles/placeholders";
@import "../../utils/_variables";

:local {
    @import "./readonlyPartial";
    @import "./editablePartial";

    %line-height {
        line-height: $lineHeightRegular;
    }

    .wrapper {
        position: relative;

        min-height: 62px;

        border-bottom: 1px solid $borderDarkColor;

        font-size: $fontSizeBig;

        .ie-lt9 &:before {
            content: "";

            position: absolute;
            top: 0;
            left: 0;

            display: block;
        }
    }

    .ie8fix {
        .ie-lt9 &:before {
            content: "\00a0";
        }
    }

    .item {
        @extend %line-height;

        padding: 20px $i-L 20px 40px;

        &.is-empty {
            color: $textInactiveColor;
        }

        &.is-editable:hover,
        &.is-active {
            background: $bgElementActiveLightColor;

            color: $textBaseColor;

            cursor: pointer;
        }

        &.is-active,
        &.has-overflow {
            padding-bottom: 20px;
        }

        &.is-active {
            cursor: default;
        }

        &.is-masked:hover {
            background: #fff;
        }

        & > * {
            @extend %line-height;
        }
    }

    .icon {
        @extend %line-height;

        float: left;
        margin: -2px 0 0 -26px;

        font-size: $fontSizeGreat;
    }

    .created {
        @extend %as-clearfix;

        float: left;
        width: 100%;
        margin-bottom: 5px;

        * {
            @extend %line-height;
        }
    }

    .author {
        float: left;
        width: 70%;

        overflow: hidden;

        font-weight: bold;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .date {
        color: $textInactiveColor;
    }

    .author + .date {
        float: right;
    }
}
