﻿@import "~billing-ui/styles/variables";
@import "../../components/utils/_variables";

:local {
    .no-delete {
        margin: 0 10px;
        padding: $i-S $i-M;

        border-radius: 2px;
        background: $bgInfoColor;

        line-height: $lineHeightRegular;
        text-align: center;
    }

    .no-delete_strikeout {
        height: 21px;
        margin-top: 1px;
        padding-left: 1px;

        background: url("../../Shared/img/strikeout.png") no-repeat center 1px;

        font-size: $fontSizeGreat;
    }
}
