﻿:local {
    .form {
        position: relative;

        display: inline-block;

        overflow: hidden;
    }

    .fileInput {
        position: absolute;
        top: 0;
        right: 0;

        margin: 0;

        opacity: 0;

        font-size: 200px;

        -ms-filter: "alpha(opacity=0)";
        direction: ltr;
        cursor: pointer;
    }
}
