﻿@import "~billing-ui/styles/variables";

:local {
    .slot {
        position: relative;
    }

    .wrapper {
        display: inline-block;
        width: 100%;
        margin: 6px 0;
        padding: 10px 16px 12px;
        box-sizing: border-box;

        background: $bgLightColor;
    }

    .contact-row {
        position: relative;
    }

    .owner-dropdown {
        width: 75%;
        max-width: 400px;
        margin: 0 0 0 -2px;
    }

    .contact-name {
        overflow: hidden;

        line-height: $lineHeightRegular;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .contact-job {
        overflow: hidden;

        color: $textSecondaryColor;
        line-height: $lineHeightRegular;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .quantity-dropdown {
        margin: 0 0 0 24px;
    }

    .remove {
        position: absolute;
        top: 2px;
        right: 0;

        color: $textSecondaryColor;
        font-size: 16px;

        cursor: pointer;
    }

    .payer-container {
        margin: 0 120px 8px 0;
    }

    .payer-requisites {
        font-weight: bold;
        line-height: $lineHeightRegular;
    }

    .payer-name {
        overflow: hidden;

        line-height: $lineHeightRegular;
        text-overflow: ellipsis;
    }

    .payer-link {
        float: right;
        margin-left: 20px;

        line-height: $lineHeightRegular;
    }
}
