﻿@import "~billing-ui/styles/variables";

:local {
    .title {
        margin-bottom: 14px;

        font-size: 16px;
        font-weight: 800;
    }

    .send-button {
        display: inline-block;
        margin-top: 15px;
    }

    .contact-name {
        overflow: hidden;

        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .contact-job {
        overflow: hidden;

        color: $textSecondaryColor;
        line-height: $lineHeightRegular;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
