﻿@import "~billing-ui/styles/variables";

:local {
    .wrapper {
        z-index: $popupZIndex;

        width: 100%;
        padding: 20px 40px;
        box-sizing: border-box;

        border: 1px solid $borderDarkColor;

        &:before,
        &:after {
            content: "";

            position: absolute;

            width: 0;
            height: 0;
        }

        &:before {
            top: -7px;
            left: 100px;

            border-right: 7px solid transparent;
            border-bottom: 7px solid $borderDarkerColor;
            border-left: 7px solid transparent;
        }

        &:after {
            top: -6px;
            left: 101px;

            border-right: 6px solid transparent;
            border-bottom: 6px solid $bgWhiteColor;
            border-left: 6px solid transparent;
        }

        :global(.ie-lt9) & {
            border: 1px solid $borderDarkColor;
        }
    }

    .close-link {
        position: absolute;
        top: 6px;
        right: 6px;

        width: 21px;
        height: 21px;

        background: transparent url("/ContentBase/img/window/close_small.png") 0 0 no-repeat;

        cursor: pointer;
    }
}
