﻿@import "~billing-ui/styles/variables";
@import "~billing-ui/styles/placeholders";

:local {
    .wrapper {
        margin-bottom: 40px;

        font-size: $fontSizeBig;
    }

    .main {
        padding: 15px 100px 15px 40px;

        border-top: 2px solid #1ab459;
        background-color: $bgLightColor;

        &.as-recipient {
            border-top: none;
        }
    }

    .header {
        position: relative;
    }

    .icon {
        position: absolute;
        top: 5px;
        left: -27px;

        width: 17px;
        height: 17px;

        background: url("./img/success.png") center center no-repeat;
    }

    .requisites {
        font-weight: bold;
        line-height: 1.6;
    }

    .code {
        margin-left: 15px;

        color: $textSecondaryColor;
        line-height: 1.6;
    }

    .item {
        line-height: 1.6;
    }

    .contact {
        @extend %as-inline-block;

        margin-right: 5px;

        line-height: 1.6;
        white-space: nowrap;

        &:last-child {
            margin-right: 0;
        }
    }

    .phone {
        margin-left: 5px;

        font-size: $fontSizeRegular;
        font-style: italic;
    }

    .tariff {
        padding: 15px 100px 15px 40px;
    }

    .dates {
        font-weight: bold;
        line-height: $lineHeightRegular;
    }

    .tariff-item {
        line-height: $lineHeightRegular;
    }

    .link {
        position: absolute;
        top: 0;
        right: 0;

        line-height: $lineHeightRegular;
    }
}
