﻿@import "~billing-ui/styles/placeholders";

:local {
    .actions {
        position: absolute;
        top: 0;
        right: 15px;
    }

    .ellipsis {
        @extend %as-link;

        font-size: 30px;
    }

    .single {
        @extend %as-link;
        @extend %as-inline-block;

        padding: 15px 0 12px 0;
    }
}
