﻿@import "~billing-ui/styles/variables";
@import "~billing-ui/styles/placeholders";

:local {
    .popup {
        min-width: 565px;
        max-width: 744px;
        min-height: 105px;
    }

    .wrapper {
        position: relative;

        padding: 14px 15px 20px 30px;

        border: 1px solid $borderDarkColor;

        font-size: $fontSizeBig;
    }

    .header {
        position: relative;
    }

    .icon {
        position: absolute;
        top: -1px;
        left: -16px;

        color: $textDarkColor;
    }

    .title {
        @extend %as-link;

        margin-left: 10px;

        font-weight: bold;
    }

    .actions {
        position: absolute;
        top: 0;
        right: 0;

        padding: 12px 13px;

        background-color: $bgWhiteColor;
    }

    .action {
        @extend %as-link;

        display: block;
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .action-text {
        margin-left: 5px;
    }

    .codes {
        width: 300px;
        margin-top: 20px;
        padding-left: 10px;
    }

    .code {
        @extend %as-inline-block;

        width: 100px;

        line-height: $lineHeightRegular;

        &:nth-child(2n) {
            margin-left: 50px;
        }
    }
}
