﻿@import "~billing-ui/styles/variables";
@import "~billing-ui/styles/placeholders";

:local {
    .wrapper {
        position: relative;

        border-top: 2px solid #8c8c8c;

        font-size: $fontSizeBig;
    }

    .header {
        padding: 15px 15px 12px;

        background-color: $bgElementActiveLightColor;

        &.active {
            transition: background-color .2s $transitionBaseTimingFunction;

            cursor: pointer;

            &:hover {
                background-color: $bgElementActiveColor;
            }

            .title {
                @extend %as-link;
            }
        }
    }

    .header-inner {
        position: relative;
    }

    .icon {
        color: $textDarkColor;
    }

    .title {
        margin-left: 10px;

        font-weight: bold;
    }

    .content {
        padding: 25px 15px 35px 40px;
    }

    .item {
        line-height: $lineHeightRegular;
    }
}
