﻿@import "~billing-ui/styles/variables";

:local {
    .wrapper {
        position: relative;

        min-height: 700px;
        margin: -20px -40px -20px;
        padding: 20px 20px 20px 40px;

        background-color: $bgLightColor;

        text-align: center;
    }

    .header {
        margin-top: 20px;
        margin-bottom: 30px;

        color: $themeMainColor;
        font-size: 20px;
        font-weight: bold;
    }

    .message {
        font-size: $fontSizeBig;
        line-height: $lineHeightRegular;
    }

    .arrow {
        position: absolute;
        top: 20px;
        right: 20px;

        width: 71px;
        height: 85px;

        background: url("../img/img-arrow.png");
    }

    .documents {
        height: 96px;
        margin-top: 30px;
        margin-bottom: 20px;

        background: url("../img/img-docs.png") no-repeat center top;
    }
}
