﻿@import "~billing-ui/styles/variables";
@import "~billing-ui/styles/mixins/mediaquery";
@import "../../components/utils/_variables";

:local {
    .default {
        position: relative;

        float: left;
        width: 40px;
        height: 46px;
        margin: -$i-M 0 (-$i-S) (-$i-M);
        padding-top: $i-M;
        box-sizing: border-box;

        overflow: hidden;

        transition: all .3s ease-in-out;

        color: $textBaseColor;

        &:hover {
            width: 216px;
            margin-right: $i-M;
            padding-right: $i-M;

            border-right: 1px solid $borderDarkColor;

            color: $textBaseColor;

            @include windowLessOrEqual(1100px) {
                width: 200px;
            }
        }

        :global .iconic {
            position: absolute;
            top: $i-M - 1px;
            left: $i-M - 2px;
        }
    }

    .__static,
    .__static:hover {
        width: auto;
        margin-right: 0;
        padding-right: 0;

        border: none;
    }

    .service-center:hover {
        width: 95px;

        @include windowLessOrEqual(1100px) {
            width: 91px;
        }
    }

    .text {
        margin-left: 40px;
    }
}
