﻿$productIconSVGSpriteUrl: "/Content/img/ProductIcons/product_icons_big.svg";
$productIconIE8SpriteUrl: "/Content/img/ProductIcons/product_icons_big.png";
$iconArea: 28px;
$productIconsBig: (evrika: 0 0, customs: -1*$iconArea 0, diadoc: -2*$iconArea 0, diadoc-custom: -2*$iconArea 0, otchetru: -6*$iconArea 0, kep: -4*$iconArea 0, kepegais: -4*$iconArea 0, dopuc: -4*$iconArea 0, sertum: -7*$iconArea 0, rosreestr: -4*$iconArea 0, smev: -4*$iconArea 0, fms: -8*$iconArea 0, kemb: -9*$iconArea 0, edi: -10*$iconArea 0, pii: -11*$iconArea 0, zakupki: -14*$iconArea 0, focus: -22*$iconArea 0);

@mixin product-icons() {
    $products: $productIconsBig;

    @each $product, $position in $products {
        &.#{$product} {
            background-image: url($productIconSVGSpriteUrl);
            background-repeat: no-repeat;
            background-position: #{$position};

            .no-svg & {
                background-image: url($productIconIE8SpriteUrl);
            }
        }
    }
}

@mixin product-icon($product) {
    $products: $productIconsBig;

    @if map-has-key($products, $product) {
        &.#{$product} {
            background-image: url($productIconSVGSpriteUrl);
            background-repeat: no-repeat;
            background-position: #{map-get($products, $product)};

            .no-svg & {
                background-image: url($productIconIE8SpriteUrl);
            }
        }
    }
    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$product}`. "
        + "Please make sure it is defined in `$products` map.";
    }
}
