﻿@import "~billing-ui/styles/placeholders";

%tokens-link {
    @extend %as-link;

    line-height: $lineHeightRegular;

    &.disabled {
        &,
        &:hover,
        &:focus {
            color: $textDisabledColor;

            cursor: default;
        }
    }
}
