﻿@import "~billing-ui/styles/variables";
@import "~billing-ui/styles/placeholders";
@import "~susy/sass/susy";
@import "./settings";
$susy: (columns: 8, gutters: 1, gutter-position: before);

:local {
    .token {
        @extend %as-clearfix;

        margin-top: 15px;
    }

    .date {
        @include span(6.7 of 8 first);

        line-height: $lineHeightRegular;
    }

    .action {
        @include span(1.3 of 8);
    }

    .status {
        margin-left: 10px;

        line-height: $lineHeightRegular;
    }

    .link {
        @extend %tokens-link;
    }
}
