﻿@import "~billing-ui/styles/variables";
@import "~billing-ui/styles/placeholders";
@import "~susy/sass/susy";
@import "./settings";
$susy: (columns: 8, gutters: 1, gutter-position: before);

:local {
    .wrapper {
        padding: 40px;

        font-size: $fontSizeBig;
    }

    .group-wrapper {
        margin-top: 35px;

        &:first-child {
            margin-top: 0;
        }
    }

    .group-header {
        @extend %as-clearfix;
    }

    .title {
        @include span(5.7 of 8 first);

        font-weight: bold;
        line-height: $lineHeightRegular;
    }

    .count {
        @include span(1 of 8);

        font-weight: bold;
        line-height: $lineHeightRegular;
        text-align: right;
    }

    .link-col {
        @include span(1.3 of 8);
    }

    .link {
        @extend %tokens-link;
    }

    .token-info {
        margin-top: 20px;
    }

    .token-info-date {
        margin-right: 10px;
    }
}
