﻿@import "~billing-ui/styles/variables";
$accelerationModeSVGUrl: "Content/img/ClientPage/acceleration_mode.svg";
$accelerationModeIE8Url: "Content/img/ClientPage/acceleration_mode.png";

:local {
    .wrapper {
        margin: 0 -40px;
        padding: 20px 40px;

        border-bottom: 1px solid $borderDarkerColor;
    }

    .isOpen {
        background: $bgLightColor;
    }

    .title {
        display: table-cell;

        overflow: hidden;

        font-size: $fontSizeBig;
        font-weight: bold;
        line-height: $lineHeightRegular;
    }

    .link {
        margin-right: 30px;

        font-size: $fontSizeBig;
        font-weight: bold;
    }

    .list {
        margin: 15px 0;
    }

    .property {
        position: relative;

        margin-bottom: 5px;
        padding-left: 20px;

        font-size: $fontSizeBig;

        &:before {
            content: '\2014';

            position: absolute;
            left: 0;
        }
    }

    .acceleration {
        display: table-cell;
    }

    .icon-car {
        width: 35px;
        height: 11px;
        margin: 6px 20px 0 15px;

        background-image: url($accelerationModeSVGUrl);
        background-repeat: no-repeat;

        .no-svg & {
            background-image: url($accelerationModeIE8Url);
        }
    }

    .quantity {
        float: right;

        font-size: $fontSizeBig;
        font-weight: bold;
        line-height: $lineHeightRegular;
    }

    .hint {
        margin-top: 15px;

        color: $textDisabledColor;
        font-size: $fontSizeBig;
        line-height: $lineHeightRegular;
    }
}
