﻿@import "~billing-ui/styles/variables";
@import "~billing-ui/styles/placeholders";

:local {
    .wrapper {
        margin: 20px 0 40px;

        font-size: $fontSizeBig;
        line-height: $lineHeightRegular;
    }

    .link-wrapper {
        @extend %as-inline-block;

        line-height: $lineHeightRegular;
    }

    .link {
        margin-left: 5px;
    }
}
