﻿@import "~billing-ui/styles/susy";
@import "~billing-ui/styles/variables";
@import "~billing-ui/styles/mixins";
$susy: (columns: 30, gutter-position: before, gutters: 1);

:local {
    .radio {
        @include container;
    }

    .date-col {
        @include span(8 of 30 first);
    }

    .item {
        color: $textBaseColor;
        line-height: $lineHeightRegular;

        &.secondary {
            color: $textSecondaryColor;
        }

        &.fade {
            @include baseFade($baseColor: $bgWhiteColor);
        }
    }

    .owner-col {
        @include span(14 of 30);
    }

    .status-col {
        @include span(7 of 30);
    }
}
