﻿@import "~billing-ui/styles/variables";
@import "~billing-ui/styles/mixins";

:local {
    $baseSidePadding: 30px;

    .section {
        margin: 20px (-$baseSidePadding) 0;
        padding: 30px $baseSidePadding 0;

        border-top: 1px solid $borderDarkerColor;
    }

    .radios {
        display: block;
    }

    .radio {
        display: block;
        margin-bottom: 35px;
    }

    .radio-label {
        display: block;
        padding-left: 35px;

        &:before {
            position: absolute;
            left: 0;
        }
    }

    .tip {
        font-size: $fontSizeBig;
        line-height: $lineHeightRegular;
    }

    .actions {
        @include action-bar;
    }
}
