﻿@import "~billing-ui/styles/variables";
@import "~billing-ui/styles/placeholders";

:local {
    .wrapper {
        @extend %as-inline-block;
        @extend %as-link;

        margin-left: 5px;

        font-size: $fontSizeBig;
        line-height: $lineHeightRegular;
    }

    .text {
        margin-left: 5px;

        line-height: $lineHeightRegular;
    }
}
